Flask==3.1.3
flask-restx==1.3.2
Werkzeug==3.1.8
python-dotenv==1.2.3
aksharamukha==2.3
lingua-language-detector==2.1.1
easyocr==1.7.2
opencv-python-headless==5.0.0.93
numpy==2.2.6
Pillow==12.3.0
pymupdf==1.28.2
python-docx==1.2.0
pytest==9.1.1
Flask-Limiter==3.12